.registion{
margin-left:7rem;

}

.login{

}

.reg-div{
    background-color:rgb(219, 99, 99);
}

.login-div{
background-color:rgb(133, 224, 156);
}

.from-div{
    border-radius: 10rem;
    width: 99%;
}